body, input, button {
    font-family: 'Montserrat', sans-serif;
}

.tutorial {
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    position:absolute;
    left:50%;
    top:50%;
    text-align:center;
    width: 400px;
    margin-left: -200px;
    height:30px;
    margin-top:-15px;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#spawn {
    position:absolute;
    width: 600px;
    margin-left: -300px;
    height: 700px;
    margin-top: -350px;
    background-color:#ECECEC;
    box-shadow: 0px 0px 5px black;
    left: 50%;
    top: 50%;
    font-size:20px;
    border-radius: 8px;
}

#spawn h1{
    text-align:center;
    font-weight:900;
}

#spawn span {
    color: gray;
}

#spawn .row {
    width:fit-content;
    margin:0 auto 20px;
}

#spawn label {
    width: 50px;
    display:inline-block;
    padding-right:15px;
    text-align:right;
}

#spawn input{
    font-size:20px;
    padding: 10px;
}

#spawn button {
    /* background-color:green; */
    font-size:24px;
    padding:20px;
    /* border:none; */
    /* color:white; */
    margin: 0 auto;
    display:block;
    font-weight:bold;
    color:white;
}

#spawn button:disabled {
    opacity:0.5;
}

#spawn button:disabled:hover {
    background-color:#2ecc71;
}

#spawn form {
    margin-top:45px;
}

#spawn #error {
    display: none;
    color: red;
    text-align:center;
    margin-bottom:10px;
}