body{
    padding:0;
    margin:0;
}

body, input, button {
    font-family: 'Montserrat', sans-serif;
}

.tutorial {
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    position:absolute;
    left:50%;
    top:50%;
    text-align:center;
    width: 400px;
    margin-left: -200px;
    height:30px;
    margin-top:-15px;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.modal {
    position:absolute;
    width: 600px;
    margin-left: -300px;
    height: 700px;
    margin-top: -350px;
    background-color:#ECECEC;
    box-shadow: 0px 0px 5px black;
    left: 50%;
    top: 50%;
    font-size:20px;
    border-radius: 8px;
    z-index:2;

    -webkit-transition: top 900ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition:         top 600ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.modal .close {
    background:none;
    position:absolute;
    top:0;
    right:0;
    font-size:16px;
    cursor: pointer;
    border:none;
    margin:5px;
    color: #383838;
}

.modal .close:hover {
    color:black;
}

#register_modal {
    width:300px;
    margin-left:-150px;
    height:400px;
    margin-top:-200px;
    top: -425px;
    left:50%;

    -webkit-transition: top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:         top 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#spawn {  
    /* ??? */    
}

h1{
    text-align:center;
    font-weight:900;
}

h1 span {
    color: gray;
}

#spawn .row {
    width:fit-content;
    margin:0 auto 20px;
}

#spawn label {
    width: 50px;
    display:inline-block;
    padding-right:15px;
    text-align:right;
}

#spawn input{
    font-size:20px;
    padding: 10px;
}

#spawn button {
    /* background-color:green; */
    font-size:24px;
    padding:20px;
    /* border:none; */
    /* color:white; */
    margin: 0 auto;
    display:block;
    font-weight:bold;
    color:white;
}

#spawn button:disabled {
    opacity:0.5;
}

#spawn button:disabled:hover {
    background-color:#2ecc71;
}

#spawn form {
    margin-top:10px;
}

#spawn #error {
    /* display: none; */
    color: red;
    text-align:center;
    margin-top: 35px;
    font-size:14px;
    height:18px;
}

#watermark {
    position:absolute;
    text-align:right;
    right:0;
    bottom:0;
    padding:10px;
    pointer-events:none;
    font-size:20px;
    opacity:0.5;
    margin:0;
    width:fit-content;
    display:none;
}

#topbar {
    background-color:#ECECEC;
    position:absolute;
    width:fit-content;
    top: 0;
    right: 0;
    padding:10px;
    font-size:14px;
    z-index:1;
    font-family:Helvetica, Arial, sans-serif;
}

#login-button {
    color:black;
}

.topbar-separator {
    font-size:14px;
    margin:0 5px 0 5px;
}

.goPermanent {
    background-color: #FFCC00;
    border-radius:4px;
    padding:5px;
    color:black;
    text-decoration: none;
    border:none;
}

.goPermanent:hover {
    background-color:#ffd638;
}

#register-button span {
    font-weight: bold;
}

#continue_register{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-60px;
    font-size:16px;
    padding:10px;
    border-radius:6px;
    font-weight:bold;
}

#topbar {
    vertical-align: middle;
}

#topbar_color {
    width:20px;
    height:20px;
    margin:2px;
    padding: 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    /* -webkit-transition: all 100ms;
    transition:         all 100ms; */
}

#topbar_loading {
    position:absolute;
    height: 25px;
    width: 25px;
    left: -35px;
    display: none;
}

#topbar_color:hover, #topbar_color:focus {
    width:24px;
    height:24px;
    margin:0;
    outline: none;
}

#topbar_username {
    color:black;
    text-decoration: none;
}

#topbar_username_input {
    display: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#topbar_username:hover {
    opacity:0.75;
}

/*********/
#spawn, body > canvas {
    opacity: 0;
}